<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gestion_etudiantConnectionString" 
             connectionString="Data Source=DESKTOP-NNEO70C\SQLEXPRESS;Initial Catalog=gestion_etudiant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionEtudiant.Properties.Settings.GESTION_ETUDIANT_ProjetConnectionString"
            connectionString="Data Source=DESKTOP-NNEO70C\SQLEXPRESS;Initial Catalog=gestion_etudiant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionEtudiant.Properties.Settings.gestion_etudiantConnectionString"
            connectionString="Data Source=DESKTOP-NNEO70C\SQLEXPRESS;Initial Catalog=gestion_etudiant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>